body {
	font-family: 'Varela Round', sans-serif;
	background-color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}

@keyframes contentTopLineEffect {
	0% { width: 0%; left: -100%; }
	50% { width: 50%; left: 0%; }
	100% { width: 0%; left: 100%; }
}
@-webkit-keyframes contentTopLineEffect {
	0% { width: 0%; left: -100%; }
	50% { width: 50%; left: 0%; }
	100% { width: 0%; left: 100%; }
}

@keyframes contentBottomLineEffect {
	0% { width: 0%; left: 200%;}
	50% { width: 50%; left: 100%;}
	100% { width: 0%; left: 0%;}
}
@-webkit-keyframes contentBottomLineEffect {
	0% { width: 0%; left: 200%;}
	50% { width: 50%; left: 100%;}
	100% { width: 0%; left: 0%;}
}

@keyframes contentLeftLineEffect {
	0% { height: 0%; top: 200%;}
	50% { height: 50%; top: 100%; }
	100% { height: 0%; top: 0%; }
}
@-webkit-keyframes contentLeftLineEffect {
	0% { height: 0%; top: 200%;}
	50% { height: 50%; top: 100%; }
	100% { height: 0%; top: 0%; }
}

@keyframes contentRightLineEffect {
	0% { height: 0%; top: -100%; }
	50% { height: 50%; top: 0%; }
	100% { height: 0%; top: 100%; }
}
@-webkit-keyframes contentRightLineEffect {
	0% { height: 0%; top: -100%; }
	50% { height: 50%; top: 0%; }
	100% { height: 0%; top: 100%; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	8% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	8% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes colorFade {
	0% { color: rgba(0, 0, 0, 0); }
	50% { color: rgba(248, 13, 71, 0.3); }
	100% { color: rgba(0, 0, 0, 0.12); }
}

@keyframes colorFade {
	0% { color: rgba(0, 0, 0, 0); }
	50% { color: rgba(248, 13, 71, 0.3); }
	100% { color: rgba(0, 0, 0, 0.12); }
}

@-webkit-keyframes borderColorFade {
	0% { border-color: rgba(0, 0, 0, 0); }
	50% { border-color: rgba(248, 13, 71, 0.3); }
	100% { border-color: rgba(0, 0, 0, 0.12); }
}

@keyframes borderColorFade {
	0% { border-color: rgba(0, 0, 0, 0); }
	50% { border-color: rgba(248, 13, 71, 0.3); }
	100% { border-color: rgba(0, 0, 0, 0.12); }
}


.text-detail {
	transition: all 250ms ease;
}

.main-wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	max-width: 560px;
	background: #fff;
	box-shadow: 0px 0px 200px 100px rgba(255,255,255,1);
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 64px;
	color: #f80d47;
}

h2 {
	font-size: 24px;
	margin-bottom: 24px;
	margin-top: 0;
}

p {
	font-size: 16px;
	margin-bottom: 12px;
	line-height: 1.6;
}

h2,
p {
	color: #4D1919;
}

.fade-in {
	position: relative;
	-webkit-animation: fadeIn 750ms ease;
	        animation: fadeIn 750ms ease;
}

.effect-wrapper {
	position: relative;
}

.content-top-effect {
	position: absolute;
	top: -16px;
	height: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentTopLineEffect 750ms ease-out;
	
	        animation: contentTopLineEffect 750ms ease-out;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
	-webkit-animation: contentTopLineEffect 750ms ease-out;
}

.content-bottom-effect {
	position: absolute;
	bottom: -16px;

	height: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentBottomLineEffect 750ms ease-out;
	
	        animation: contentBottomLineEffect 750ms ease-out;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
	-webkit-animation: contentBottomLineEffect 750ms ease-out;
}

.content-left-effect {
	position: absolute;
	top: 0;
	left: -16px;
	width: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentLeftLineEffect 750ms ease-out;
	
	        animation: contentLeftLineEffect 750ms ease-out;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
	-webkit-animation: contentLeftLineEffect 750ms ease-out;
}

.content-right-effect {
	position: absolute;
	top: 0;
	right: -16px;
	width: 1px;
	background-color: #f80d47;
	
	-webkit-animation: contentRightLineEffect 750ms ease-out;
	
	        animation: contentRightLineEffect 750ms ease-out;
	-webkit-animation-delay: 250ms;
	        animation-delay: 250ms;
	-webkit-animation: contentRightLineEffect 750ms ease-out;
}

ul {
	padding-left: 0;
	list-style: none;
	margin-top: 24px;
	/*padding-bottom: 64px;*/

}

ul li {
	margin-bottom: 36px;
	position: relative;
	font-size: 16px;
	/*line-height: 2;*/
}

.divider {
	margin: 36px 0;
	border-top: 1px solid #f5f5f5;
}

.link-list {
	margin-top: 0;
}

.link-item-title {
	color: #E30B41;
}

.link-item-title:hover,
.link-item-title:hover .link-item-title-path {
	color: #f80d47;
}

.link-item-title-path {
	font-size: 12px;
	color: #4D1919;
	opacity: 0.2;
	transition: color 250ms ease;
}

.link-item-description {
	font-size: 14px !important;
	margin-left: 30px;
	margin-top: 12px;
}

a {
	color: #484848;
	z-index: 1333;
	box-sizing: border-box;
}

a,
a:hover,
a:active {
	text-decoration: none;
}

a:hover i {
	color: #f80d47;
}

ul .pos-fix .fa {
	visibility: hidden;
}

ul .pos-fix i span {
	font-style: normal;
	position: relative;
	top: -3px;
	left: -2px;
}

i.fa,
li i {
	font-size: 22px;
	position: relative;
	top: 2px;
	margin-right: 8px;
	color: #E30B41;
	transition: color 250ms ease;
}

.text-detail {
	color: #4D1919;;
	background: rgba(248, 13, 71, 0.02);
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 1px solid rgba(248, 13, 71, .35);
}

.text-detail:hover {
	background: rgba(248, 13, 71, 0.1);
	text-decoration: none;
}

.text-subheader {
	font-family: 'Varela Round', sans-serif;
	margin-left: 8px;
	font-size: 16px;
	position: relative;
	top: -2px;
}

.text-list-item {
	display: inline-block;
	margin-left: 0px;
}

.icon-medium-logo {
	position: absolute;
	left: 0px;
}

.icon-medium-logo:before {
	position: relative;
	top: 0px;
	left: -1.5px;
	width: 19px;
}

.preview-content {
	display: block;
	position: fixed;
	top: 0;
	right: 18px;
	width: 200px;
	height: 200px;
	background-color: #fafafa;

	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15);
	border-radius: 4px 0px 0px 4px;

	background-image: none;
	background-size: 100% 100%;
	
	transition: right 500ms ease;
	/*opacity: 0;*/
	display: relative;
	right: -100%;
}

.preview-content p {
	padding: 8px;
}

.preview-content.show {
	transition: right 250ms ease;
	/*opacity: 1;*/
	right: 0;
}

#favs-background-wrapper {
	position: relative;
	margin: 0 auto;
	z-index: -9999;
}

#favs-background {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: auto;
	max-height: 40vh;
	background: #fcfcfc;
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	-webkit-animation: borderColorFade 1500ms ease-in-out forwards;
	        animation: borderColorFade 1500ms ease-in-out forwards;

	-webkit-animation-delay: 750ms;

	        animation-delay: 750ms;
}

#favs-background span {
	color: rgba(0, 0, 0, 0.0);
	display: inline-block;
	font-weight: bold;
	line-height: 2.4;
	padding: 12px 4px;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	-webkit-animation: colorFade 1500ms ease-in-out forwards;
	        animation: colorFade 1500ms ease-in-out forwards;

	-webkit-animation-delay: 750ms;

	        animation-delay: 750ms;
}

@media screen and (max-width: 692px){
	
	.preview-content,
	.preview-content.show {
		display: none;
	}
	
	i.fa,
	li i {
		margin-bottom: 4px;
		color: #f80d47;
	}

	ul li {
		margin-bottom: 48px;
	}
	
	.text-list-item {
		display: inline-block;
		margin-left: 28px;
	}

	ul .pos-fix .icon-medium-logo:before {
		top: 2px;
	}
}



